- Mengimport Libraries Yang Dibutuhkan

In [11]:
import seaborn as sns
import pandas as pd

- Menyimpan Data Ke Variabel Tertentu Dan Menampilkannya

In [12]:
titanic = sns.load_dataset("titanic")
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

- Menampilkan Info Data

In [13]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

- Menampilkan Berapa Banyak Data Yang Kosong

In [14]:
titanic.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

- Mengubah Tipe Data Yang Ada Ke Tipe Data Angka Dan Setelah Diubah, Data Kosong Diubah Dengan Metode 'IterativeImputer', Dan Menampilkan Berapa Banyak Data Yang Kosong

In [15]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.preprocessing import OrdinalEncoder
from sklearn.impute import IterativeImputer

iterative_imputer = IterativeImputer()
orr = OrdinalEncoder()

# orr_column = ["sex", "embarked", "class", "who", "adult_male", "deck", "embark_town", "alive", "alone"]
orr_column = titanic.select_dtypes(["object", "category", "bool"]).columns
titanic_null = titanic.isnull().sum()
# iterative_imputer_column = ["age", "embarked", "deck", "embark_town"]
iterative_imputer_column = list(titanic_null[titanic_null > 0].index)

titanic[orr_column] = orr.fit_transform(titanic[orr_column])
titanic[iterative_imputer_column] = iterative_imputer.fit_transform(titanic[iterative_imputer_column])

# titanic = pd.DataFrame(titanic, columns=titanic.columns)

titanic.isnull().sum()

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
deck           0
embark_town    0
alive          0
alone          0
dtype: int64

- Menampilkan Data 5 Row

In [16]:
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,1.0,22.0,1,0,7.2500,2.0,2.0,1.0,1.0,2.875963,2.0,0.0,0.0
1,1,1,0.0,38.0,1,0,71.2833,0.0,0.0,2.0,0.0,2.000000,0.0,1.0,0.0
2,1,3,0.0,26.0,0,0,7.9250,2.0,2.0,2.0,0.0,2.787956,2.0,1.0,1.0
3,1,1,0.0,35.0,1,0,53.1000,2.0,0.0,2.0,0.0,2.000000,2.0,1.0,0.0
4,0,3,1.0,35.0,0,0,8.0500,2.0,2.0,1.0,1.0,2.589940,2.0,0.0,1.0

- Menampilkan Info Pada Data

In [17]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    float64
 3   age          891 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     891 non-null    float64
 8   class        891 non-null    float64
 9   who          891 non-null    float64
 10  adult_male   891 non-null    float64
 11  deck         891 non-null    float64
 12  embark_town  891 non-null    float64
 13  alive        891 non-null    float64
 14  alone        891 non-null    float64
dtypes: float64(11), int64(4)
memory usage: 104.5 KB

- Mengubah Tipe Data 'float64' Ke 'int64'

In [18]:
# astype_column = ["sex", "age", "embarked", "class", "who", "adult_male", "deck", "embark_town", "alive", "alone"]
astype_column = titanic.select_dtypes("float64").columns

titanic[astype_column] = titanic[astype_column].astype("int64")
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,1,22,1,0,7,2,2,1,1,2,2,0,0
1,1,1,0,38,1,0,71,0,0,2,0,2,0,1,0
2,1,3,0,26,0,0,7,2,2,2,0,2,2,1,1
3,1,1,0,35,1,0,53,2,0,2,0,2,2,1,0
4,0,3,1,35,0,0,8,2,2,1,1,2,2,0,1

✅ Siap untuk Model

- Semua fitur numerik
- Tidak ada missing values
- Cocok untuk model seperti Logistic Regression, Random Forest, atau XGBoost